@import "tailwindcss";


.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}











@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000;
    overflow: hidden;
}

.background > span {
    width: 7vmin;
    height: 7vmin;
    border-radius: 7vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 33;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background > span:nth-child(0) {
    color: #FFACAC;
    top: 66%;
    left: 89%;
    animation-duration: 111s;
    animation-delay: -129s;
    transform-origin: 23vw 20vh;
    box-shadow: 14vmin 0 2.712084877950329vmin currentColor;
}
.background > span:nth-child(1) {
    color: #583C87;
    top: 90%;
    left: 8%;
    animation-duration: 172s;
    animation-delay: -32s;
    transform-origin: -16vw -20vh;
    box-shadow: 14vmin 0 2.342337448339659vmin currentColor;
}
.background > span:nth-child(2) {
    color: #FFACAC;
    top: 68%;
    left: 2%;
    animation-duration: 114s;
    animation-delay: -74s;
    transform-origin: -3vw -4vh;
    box-shadow: 14vmin 0 2.6359847756375965vmin currentColor;
}
.background > span:nth-child(3) {
    color: #583C87;
    top: 7%;
    left: 22%;
    animation-duration: 103s;
    animation-delay: -10s;
    transform-origin: -24vw 2vh;
    box-shadow: 14vmin 0 2.4016940817189782vmin currentColor;
}
.background > span:nth-child(4) {
    color: #583C87;
    top: 96%;
    left: 98%;
    animation-duration: 72s;
    animation-delay: -83s;
    transform-origin: -6vw 7vh;
    box-shadow: -14vmin 0 2.5041274122373096vmin currentColor;
}
.background > span:nth-child(5) {
    color: #583C87;
    top: 44%;
    left: 91%;
    animation-duration: 61s;
    animation-delay: -22s;
    transform-origin: 23vw -6vh;
    box-shadow: -14vmin 0 1.7564085338686037vmin currentColor;
}
.background > span:nth-child(6) {
    color: #FFACAC;
    top: 83%;
    left: 66%;
    animation-duration: 88s;
    animation-delay: -75s;
    transform-origin: 24vw 2vh;
    box-shadow: -14vmin 0 2.2387881283010476vmin currentColor;
}


